<ul class="list-group" ng-repeat="exp in experiences | filter: query | orderBy: orderProp">
    <li class="list-group-item">
        <div class="row">
            <div class="col-3">
                <div ng-repeat="image in exp.slider_image">
                    <div class="thumbnail">
                        <a class="phone-list-item" ng-href="{{image.href}}">
                            <img ng-src="{{image.src}}" alt="{{image.alt}}" class="img-thumbnail">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <a>
                    <h2>{{exp.exp_heading_title| uppercase}}</h2>
                    <h5>{{exp.exp_description}}</h5>
                    <h6>{{exp.exp_from_time|date}} - {{exp.exp_to_time|date}}</h6>
                    <p>{{exp.exp_min_text}}</p>
                    <p>{{exp.exp_max_text}}</p>
                    <br>
                </a>
            </div>
        </div>
    </li>
</ul>