<div class="container" style="margin-top:30px" ng-controller='AboutMeCtrl'>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div ng-include="'menu/thong-tin-cua-toi/sub-template/about-me-flexslider.html'"></div>
            <span ng-include="'menu/thong-tin-cua-toi/sub-template/project-da-lam.html'"> </span>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="row">
                <div class="col-6">
                    <p>
                        Search:
                        <input type="text" ng-model="query" class="form-control">
                    </p>
                </div>
                <div class="col-6">
                    <p>
                        Sort by:
                        <select ng-model="orderProp" class="form-control">
                            <option value="exp_heading_title">Alphabetical</option>
                            <option value="exp_to_time">Newest</option>
                            <option value="exp_from_time">Oldest</option>
                        </select>
                    </p>
                </div>
            </div>
            <div class="row" ng-include="'menu/thong-tin-cua-toi/sub-template/list-kinh-nghiem.html'"></div>
        </div>
    </div>
</div>